body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
}

.hero-section {
  background: url("/image/page-title.jpg") center/cover no-repeat;
  height: 280px;
  position: relative;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-text p {
  color: #ddd;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.card img {
  width: 100%;
}

.card-body {
  padding: 15px;
}

.card-body h3 {
  margin: 0;
}

.card-body button {
  margin-top: 10px;
  background: orange;
  border: none;
  padding: 8px;
  cursor: pointer;
}

/* ----------------------- */

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  max-width: 500px;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 90vh;
}

.modal-content img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.close {
  font-size: 26px;
  cursor: pointer;
  float: right;
}
/* --------------------- */
#scrollTopBtn {
  position: fixed;
  right: 15px;      
  bottom: 20px;     
  width: 40px;
  height: 45px;
  border-radius: 20%;
  border: none;
  background-color: #ffc107;
  font-size: 20px;
  cursor: pointer;
  display: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}




